
input type='radio' id='post_preview_{{post._id}}' value='edit' ng-model='post.view_status'
= "Markdown"
input type='radio' id='post_preview_{{post._id}}' value='preview' ng-model='post.view_status'
= "Preview"
